.sub-footer {
    background-color: #343434;
    text-align: center;
    padding: 3px 0px;

    p {
        color: #fff;
        font-weight: 300;
        letter-spacing: 0.5px;
    }

    a {
        color: #fff;
    }

}